{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Ky Gerrymandering{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'page/css/style.css' %}">
</head>

<header>
    <div class="navbar">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/results">Results</a></li>
        </ul>
    </div>
</header>

<body>

<div class="site-container">

   
{% block content %}
   
{% block current_reps %}
    <div class="current">
        <ol>
           <li><a href=rep.objects.all></a></li>

    {% endblock %}
    </div>
    
{% endblock %} 
   
</div>  

   

</body>
</html>