{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Ky Gerrymandering{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'page/css/style.css' %}">
    <link rel = "stylesheet" href="{% static 'page/images' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<header>
    <div class="navbar">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/results">Results</a></li>
        </ul>
    </div>
</header>

<body>



{% block content %}{% endblock %} 


    
    {% block repList %}
    {% for objects in all_objects_Rep %}
    
<table class = "RepList">
    <tr>
        <th>District</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
        
    <tr>
        <td>{{ objects.District }}</td>
        <td>{{ objects.f_name }}</td>
        <td>{{ objects.l_name }}</td>
    </tr>
    {% endfor %}
    {% endblock %}
</table>
    

<!-- <div class="site-container">
    <div class="row justify-content-center panel">
        <div class = "col-md-5">
            <div class = "image">
                <img src="images\Kentucky.jpg" alt="outline of kentucky"></img> 
            </div>
        </div>
    </div>
</div> -->










   

</body>
</html>