{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}


<div class = "hometitle">
    <h1> How The Congressional Districts In KY Have Changed Through The Census</h1>
    {% block hometitle %}
        {{ block.super }}
        {{ my_hometitle }}
    {% endblock %}
</div>

<div class="intro">
    {% block intro %}
        {{block.super }}
        <br>
        {{my_text}}
    {% endblock %}

</div>

<div class="current">
{% block current_reps %}

</div>

{% endblock %}

{% endblock %}











