* {
   box-sizing: border-box;
}

body {
   margin: auto;
   height: 50%;
   
}

img {
   /* background-repeat: no-repeat;
   background-size: cover; */
   width: 100%;
   height: 100%;
   padding-left: 15px;
}

.container {
   height: auto;
   padding: 15px 25px;
}

.navbar ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   color: black;
}

.hometitle {
   color: blue;
   text-align: center;
   font-size: 24px;
   padding: 25px 0 15px 0;
}

.my_text {
   display: block;
   padding: 15px 25px;
   
}

.language {
   display: block;
   padding: 15px 35px;
}


.repList td,
.repList th {
   border: 1px solid red;
   padding: 8px;
}

.repList th {
   padding: 6px 0;
   text-align: center;
   background-color: blue;
   color: white;
}

