{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Ky Gerrymandering{% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'page/css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<header>
    <div class="navbar">
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/results">Results</a></li>
        </ul>
    </div>
</header>

<body>



<div class="container">
    <div class = "row">
        <div class = "col-md">
            <div class="outline">
            <img src="{% static 'page/images/KyOutline.png' %}" alt="Outline of Kentucky">
            </div>
        </div>
    </div>
</div>
     
{% block content %}{% endblock %} 




    
<!-- <table class="table .table-sm">
    <thead>
        <tr>
            <th scope="col">District</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
        </tr>
    </thead>
    <tbody>

    <tr>
        {% for object in currRepList %}
        <th scope = "row"></th>
        <td>{{ District }}</td>
        <td>{{ f_name }}</td>
        <td>{{ l_name }}</td>
    </tr>
    {% endfor %}
</table>
</div> -->







    </body>
</html>