{% extends "base.html" %}
from . import forms
from . import views


{% block content %}
<div class = 'hometitle'>
    {% block hometitle %}
        {{ block.super }}
        {{ home_title|linebreaks }}
    {% endblock %}
</div>

<div class= 'my_text'>
    {% block my_text %}
        {{ block.super }}
        {{ my_text1|linebreaks }}
        {{ block.super }}
        {{ my_text2|linebreaks }}
        {{ block.super }}
        {{ my_text3|linebreaks }}
        {{ block.super }}
        {{ my_text4|linebreaks }}
        {{ block.super }}
        {{ start|linebreaks }}
    {% endblock %}
</div>


{% endblock %}











