{% extends "base.html" %}
from . import forms
from . import views


{% block content %}



<div class = "hometitle">
    {% block hometitle %}
        {{ block.super }}
        {{ home_title|linebreaks }}
    {% endblock %}
</div>

<div class="intro">
    {% block intro %}
        {{block.super }}
        {{my_text}}
    {% endblock %}
</div>

<div class="getZip">

<form name = "EntryForm" action = "{% url 'page:zipUsercd' %}"
method = "GET" >{% csrf_token %}
    {{ Entryform.as_p }}
    <input type = "char">
    <button class="btn btn-primary" type="button">Submit</button>
</form>
</div>


{% endblock %}










