{% extends "base.html" %}
from . import forms
from . import views


{% block content %}
<div class = 'hometitle'>
    {% block hometitle %}
        {{ block.super }}
        {{ home_title|linebreaks }}
    {% endblock %}
</div>

<div class= 'my_text'>
    {% block my_text %}
        {{ block.super }}
        {{ my_text1|linebreaks }}
        {{ block.super }}
        {{ my_text2|linebreaks }}
        {{ block.super }}
        {{ my_text3|linebreaks }}
        {{ block.super }}
        {{ my_text4|linebreaks }}
    {% endblock %}
</div>

<div class="getZip">

<form action = "{% url 'zipUser_view' %}"
method = "POST" >{% csrf_token %}
    {{ Entryform.as_p }}
    <input type = "char">
    <button class="btn btn-primary" type="button">Submit</button>
</form>
</div>

{% endblock %}











